<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Estadísticos Para Ecuaciones Diferenciales Estocásticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script>
        async function ejecutarTest() {
            const response = await fetch('/test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})  // puedes incluir parámetros si los necesitas
            });

            const data = await response.json();
            document.getElementById('resultado').textContent = "p-valor: " + data.pvalor + ";" + " Precio inicial: " + "COL$ " + data.pinicial + ";" + "  N° Pasos: " + data.pasos +";"+ " Horizonte de tiempo: " + data.tiempo;
        }
    </script>      
</head>
<body>
    <header>
        <h1>Métodos Estadísticos Para Ecuaciones Diferenciales Estocásticas</h1>
        <br>
        <p>Alejandro Antonio Estrada Franco</p>
       <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> -->
        <div class="form-container">
            <a href="{{ url_for('main.index') }}">
                <button>Home</button>
            </a>
            <a href="{{ url_for('main.simulaciones') }}">
                <button>Simulaciones</button>
            </a>
            <a href="{{ url_for('main.estimaciones') }}">
                <button>Estimadores</button>
            </a>
            <a href="{{ url_for('main.transicion') }}">
                <button>Transiciones</button>
            </a>
        </div>
    </header>
    
    <main>
        <p>Home</p>
    </main>

    <img id="imagen" src="{{ url_for('static', filename='images/euler_wc.png') }}" alt="Imagen" />
    <img id="imagen" src="{{ url_for('static', filename='images/stiempoParcial.png') }}" alt="Imagen" />

    <div class="table-responsive">
                    <h3>
                        Estimadores:
                    </h3> 
                    {{ tabla_html | safe }}
    </div>
    <div>
        <h1>Prueba de hipótesis</h1>
        <button onclick="ejecutarTest()">Ejecutar test</button>

        <div id="resultado" style="margin-top: 20px; font-size: 1.5em;"></div>
        <div style="margin-top: 20px;">
            <img id="imagen" 
                src="{{ url_for('static', filename='images/hist_muestrario.png') }}"
                alt="Histograma"
                style="display: block; margin: 0 auto; max-width: 100%; height: auto;" />
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
