<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Estadísticos Para Ecuaciones Diferenciales Estocásticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Métodos Estadísticos Para Ecuaciones Diferenciales Estocásticas</h1>
        <br>
        <p>Alejandro Antonio Estrada Franco</p>
     <!--   <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> -->
        <div class="form-container">
            <a href="{{ url_for('main.index') }}">
                <button>Home</button>
            </a>
            <a href="{{ url_for('main.simulaciones') }}">
                <button>Simulaciones</button>
            </a>
            <a href="{{ url_for('main.estimaciones') }}">
                <button>Estimadores</button>
            </a>
            <a href="{{ url_for('main.transicion') }}">
                <button>Transiciones</button>
            </a>
        </div>
    </header>
    
    <main>
        <p>Simulaciónes</p>
    </main>

    <div class="form-container">
        <form action="/procesar" method="POST">
         <div> 
            <label for="pasos">Número de pasos:</label><br>
            <input type="number" id="pasos" name="pasos" required min="1" step="1" class="input-field">
         </div> 
         <div>
            <label for="partida">Precio de partida:</label><br>
            <input type="number" id="partida" name="partida" required min="0.000001" step="0.000001" class="input-field">
         </div>
         <div>
            <label for="tiempo">Horizonte de tiempo:</label><br>
            <input type="number" id="tiempo" name="tiempo" required min="1" step="0.000001" class="input-field">
         </div>
         <div>
            <label for="drift">Drift:</label><br>
            <input type="number" id="drift" name="drift" required min="0" step="0.000001" class="input-field">
         </div>
         <div>
            <label for="volatilidad">Volatilidad:</label><br>
            <input type="number" id="volatilidad" name="volatilidad" required min="0" step="0.000001" class="input-field">
         </div>
         <!-- <input type="hidden" name="clave" value="transicion"> -->
         <button class="btn" type="submit">Graficar</button>
        </form>
        
        <!-- <img src="{{ url_for('static', filename='images/transicion.png') }}"> -->
        <img id="imagen" src="{{ url_for('static', filename='images/transicion.png') }}" alt="Imagen" />
    <br />
    <button onclick="cambiarImagen()">Cambiar Imagen</button>

    <script>
        // Array con las imágenes
        const imagenes = [
            "{{ url_for('static', filename='images/euler.png') }}",
            "{{ url_for('static', filename='images/transicion.png') }}",
            "{{ url_for('static', filename='images/milstein.png') }}",
        ];

        // Índice actual de la imagen
        let indice = 0;

        // Función para cambiar la imagen
        function cambiarImagen() {
            // Incrementamos el índice y lo mantenemos dentro del rango
            indice = (indice + 1) % imagenes.length;
            
            // Cambiamos la imagen
            document.getElementById('imagen').src = imagenes[indice];
        }
    </script>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>